@import "./variables.css";

body {
    background-color: var(--color-light-gray);
    color: var(--color-white);
    font-family: Arial, sans-serif;
    }

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
