@import "../../../styles/variables.css";

.container {
    background-color: var(--color-gray);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 8px;
}

.title {
    color: var(--color-secondary);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px var(--color-dark);
}

.loading {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-secondary);
    padding: 2rem;
}

