.quantitySelector {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    }
    
    .quantityButton {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--color-dark);
    color: var(--color-white);
    border-color: var(--color-secondary);
    }
    
    .quantityButton:hover:not(:disabled) {
    background-color: var(--color-secondary);
    }
    
    .quantityDisplay {
    width: 40px;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    color: var(--color-white);
    }